<h2>Show note</h2>

<ul>

  <li>
    <strong>Body:</strong>
    <%= @note.body %>
  </li>

  <li>
    <strong>Mentorship Id:</strong>
    <%= @note.mentorship_id %>
  </li>

  <li>
    <strong>Note Taker:</strong>
    <%= @note.user.name %>
  </li>

  <li>
    <strong>Note Type:</strong>
    <%= @note.note_type %>
  </li>

</ul>

<%= link "Edit", to: note_path(@conn, :edit, @note) %>
<%= link "Back", to: note_path(@conn, :index) %>
