.note-list {
    padding: 100px 50px 0px;
    align-self: flex-start;
    margin-left: 400px;
    h2 {
        text-transform: uppercase;
        margin-top: 50px;
        border-top: 3px solid $brand-blue;
        padding-top: 10px;
    }
}

form {
    position: relative;
    width: 100%;
}

.note-input {
    padding: 0px;
    overflow: scroll;
    width: 100%;
    height: 150px;
    border: none;
    resize: none;
    -webkit-box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.4);
    &:focus {
      outline: none;
    }
}

.post-submit,
.tag-submit {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
}

.post-submit {
    color: #0066cc;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
    bottom: 8px;
    right: 8px;
    border: 1px solid #0066cc;
    &:hover,
    &:active {
        background-color: #000;
        color: #fff;
        border: none;
    }
}

.tag-submit {
    position: absolute;
    left: 4px;
    bottom: 4px;
    z-index: 5;
    padding: 12px;
    background-color: #fff;
    color: #333;
    ul {
        display: none;
    }
    &:hover {
        ul {
            display: block;
            position: absolute;
            background: #fff;
            color: #000;
            left: 0px;
            box-shadow: 1px 1px 1px 1px #dddddd;
            li {
                padding: 8px;
                border-bottom: 1px solid $dark-gray;
                &:hover {
                    color: $brand-blue;
                }
            }
        }
    }
}

.content-menu {
    margin: 20px 0px;
    li:nth-of-type(1) {
        color: $brand-blue;
        border-bottom: 1px solid $brand-blue;       
    }
    li {
        color: $dark-gray;
        display: inline-block;
        padding: 10px;
    }
}

.submitted-note-list {
    margin-top: 20px;
    .fa-reply {
        color: $dark-gray;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .note {
        padding: 35px;
        background-color: $light-gray;
        position: relative;
        min-height: 80px;
        margin: 15px 0px;
    }
    h3 {
        background-color: #0099FF;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        width: 150px;
        max-width: 150px;
        margin: 0px auto 10px;
        bottom: -10px;
        left: 0px;
        font-size: 10px;
        padding: 5px 0px;
        text-align: center;
        &:hover {
            background-color: #000;
        }
    }
    p {
        max-width: 400px;
    }
    img {
        width: 35px;
        position: absolute;
        bottom: 8px;
        right: 10px;
        z-index: 2;
    }
    .metadata-list {
        color: $brand-blue;
        margin-top: 15px;
        li {
            display: inline-block;
            font-size: 10px;
            text-transform: uppercase;
            border-bottom: 1px solid $dark-gray;
            margin-right: 5px;
            // text-decoration: underline;
        }
    }
}
